<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
    
    
    ons.ready(function() {
      console.log("Onsen UI is ready!");
    });

    window.fn = {};
    window.fn.open = function() {
      var menu = document.getElementById('menu');
      menu.open();
    };
    window.fn.load = function(page) {
      var content = document.getElementById('content');
      var menu = document.getElementById('menu');
      content
        .load(page)
        .then(menu.close.bind(menu));
    };

    /*document.addEventListener('show', function(event) {
      var page = event.target;
      var titleElement = document.querySelector('#toolbar-title');

      if (page.matches('#first-page')) {
        titleElement.innerHTML = 'My app - Page 1';
      } else if (page.matches('#second-page')) {
        titleElement.innerHTML = 'My app - Page 2';
      }
    });*/

    if (ons.platform.isIPhoneX()) {
      document.documentElement.setAttribute('onsflag-iphonex-portrait', '');
      document.documentElement.setAttribute('onsflag-iphonex-landscape', '');
    }
  </script>
</head>
<body>
  <ons-navigator animation="slide" var="app.navi"></ons-navigator>
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="ion-ios-menu
          ,maerial:md-menu"></ons-icon>
        </ons-toolabar-button>
      </div>
      <div class="center" id="toolbar-title">Title</div>
    </ons-toolbar>
    
    </ons-tabbar>
    <ons-tabbar position="auto">
      
      <ons-tab label="通知" page="notification.html" icon="md-home" ng-click="app.navi.pushPage()"></ons-tab>
      <ons-tab label="Page1" ></ons-tab>
    

    </ons-tabbar>
      
  
  
  
    </ons-tabbar>
  </ons-page>


    <ons-splitter>
      <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
        <ons-page>
          <ons-list>
            <ons-list-item tappble onclick="fn.load(notification.html)">
              Home
            </ons-list-item tappable>
            <ons-list-item tapppable onclick="Savor()">
              settings
            </ons-list-item>
          </ons-list>
        </ons-page>
      </ons-splitter-side>
      <ons-splitter-content id="content" page="notification.html"></ons-splitter-content>
    </ons-splitter>
    
    
  
    <template id="home.html">
      <style>
       
      </style>
      <div>
        <ons-button modifier="quiet" onclick="popTimes()" class="Time-button">
          push it
        </ons-button>
      </div>
      
    </template>
    <template id="situation.html">
      <ons-page id="situation"></ons-page>
    </template>
      
        
    <template id="notification.html">
      <ons-page>
        <ons-button  modifier="default" ng-click="app.navi.pushPage('applycation.html')" >pop this</ons-button>
      </ons-page>
    </template>
  
    <template id="applycation.html">
      <ons-page>
        <p style="text-align: center;">This is a second page</p>  
      </ons-page>

    </template>  
  </body>
  </html>
  
  
  